//
//  Development.xcconfig
//
//  Copyright (c) 2015 Netguru Sp. z o.o. All rights reserved.
//

#include "../Carthage/Checkouts/xcconfigs/Base/Configurations/Debug.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../Pods/Target Support Files/Pods-Inbbbox/Pods-Inbbbox.development.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) ENV_DEVELOPMENT
OTHER_SWIFT_FLAGS = $(inherited) -D ENV_DEVELOPMENT

PRODUCT_BUNDLE_IDENTIFIER = co.netguru.inbbbox
PRODUCT_BUNDLE_VERSION_STRING = 1.0
PRODUCT_BUNDLE_VERSION = 1

CODE_SIGN_IDENTITY = iPhone Developer
